@import "tailwindcss";


@theme{

   --color-primary:#ff5252
}

/* @theme inline{
  --color-primary:var(--primary)
} */

@layer base{
  :root{
    --primary:#ff5252;
    /* --secondary:#26c6da; */
    --secondary:#ffc107;
    --tertiary:#e0e0e0;
    --primary-lighter:#ff7a7a;

  }
}


body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background-color: #f5f0f0;
    color:#3e3e3e;

    overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 8px !important;
  height: 8px !important;
}
::-webkit-scrollbar-thumb{
  background-color: var(--primary);
    border-radius: 4px;

}
::-webkit-scrollbar-track{
  background-color: #fff;
}

/* targeting scroll of reviews,checkout products section's scroll */
.scroll::-webkit-scrollbar{
  width: 3px !important;
}
.scroll::-webkit-scrollbar-thumb{
  background-color: var(--tertiary);
    border-radius: 4px;
  width: 3px !important;
}



/* Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* another way to hide arrows in number input */
/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */

.container{
  width: 95%;
  margin: auto;

}
p{
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 10px;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 600;
}
span{
  user-select: none;
}
 


.btn-org{
  background-color: var(--primary) !important;
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 16px !important;

}
.btn-org:hover{
  background-color: #171717 !important;
  color: white !important;
}
.btn-lg{
  padding: 8px 20px !important;
}
.btn-sm{
  font-size: 12px !important;
  padding: 5px 10px !important;
}
.btn-org.btn-border{
  background: none !important;
  border: 1px solid var(--primary) !important;
  color: var(--primary) !important;

}
.btn-org.btn-border:hover{
  background-color: #171717 !important;
  color: #fff !important;
outline: white !important;
  border: white !important;

}
/* MUI checkbox padding  */


.MuiCheckbox-root{
  padding: 6px !important;
}


/* forcing black border on MUI input elements on focus , delete is if not working */
.MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: rgb(145, 132, 132) !important;
}


/* header */
.link:hover{
  color:var(--primary);
  transition: color 0.3s ease-in-out;
}

.MuiBadge-badge{
  background-color: var(--primary) !important;
}

nav ul button{
  text-transform: capitalize !important; 
}

nav ul button:hover{
  background: none!important;
}

/* Home Slider or Banner */
.sliderHome{
  overflow: inherit !important;

}
 .swiper-button-prev,.swiper-button-next{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
  box-shadow: 0 1px 3px #0000001f,0 1px 2px #0000003d !important;
}


.swiper-button-prev:after,.swiper-button-next:after{
  font-size: 22px !important;
  color:#000
}


/* category slider component */

.homeCatSlider{
  overflow: inherit !important;
}
.homeCatSlider .swiper-button-prev,
.homeCatSlider .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* styling navigation arrows */
.homeCatSlider .swiper-button-prev:after,
.homeCatSlider .swiper-button-next:after{
  font-size: 16px !important;
}


/* showing navigation only when hovering */
.homeCatSlider:hover .swiper-button-prev,
.homeCatSlider:hover .swiper-button-next {
  opacity: 1;
  pointer-events: auto;
}

.homeCatSlider .swiper-button-prev{
  left:-6px !important;
}

.homeCatSlider .swiper-button-next{
  right:-6px !important;
}

/* hover styles for both home slider and category slider */
 .swiper-button-prev:hover ,
 .swiper-button-next:hover{
  background-color:#ff5252 !important;
}

 .swiper-button-prev:hover::after,
 .swiper-button-next:hover::after
{
  color:#fff !important;
}





.homeCatSlider .swiper{
  overflow:visible !important;
}

.homeCatSlider .item{
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.homeCatSlider .item:hover img{
  transform: scale(1.1);
}


.ads-banner-slider .swiper-button-prev,
.ads-banner-slider .swiper-button-next{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 100%;
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  
  
}

.ads-banner-slider .swiper-button-prev:after,
.ads-banner-slider .swiper-button-next:after{
  font-size: 16px !important;
}


/* tabs section / popular products slider section */

/* tabs underline */
.MuiTabs-indicator{
  background-color: var(--primary) !important;
}

.MuiTab-textColorPrimary.Mui-selected{
  color:var(--primary) !important;
}

/* swipper-wrapper is overflow:hidden by default , so applying padding to see the shadow of product card */
.productsSlider .swiper-wrapper{
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

footer form input::placeholder{
  font-size: 14px;
}
.css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root.Mui-checked, .css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate{
  color: var(--primary) !important;
}
.MuiFormControlLabel-label{
  font-size: 13px !important;
  color: rgba(0, 0, 0, 0.8);
}

/* grid and list view buttons styling */
 .itemViewActions button.active svg{
  color: var(--primary) !important;
  opacity: 1 !important;

}

.Mui-selected.MuiPaginationItem-page{
  background-color: var(--primary) !important;
  color: #fff !important;
}


/* productDetails page  */
.zoomProductSliderThumbs  .swiper-slide{
  height: auto !important;
  /* height: 150px !important; */
}


.zoomProductSliderThumbs.space .swiper-wrapper{
  padding-top: 38px !important;
  
}


.zoomProductSliderThumbs .swiper-button-prev{
 top: 20px !important;
 left:0px  !important;
  width: 100% !important;
 height: 30px !important;
 border-radius: 0px !important;
}
.zoomProductSliderThumbs .swiper-button-next{
 bottom: 0px !important;
 right: inherit !important;
 top: inherit !important;
 width: 100% !important;
 height: 30px !important;
 border-radius: 0px !important;

}
.zoomProductSliderThumbs .swiper-button-prev::after{
  transform: rotate(90deg);
}

.zoomProductSliderThumbs .swiper-button-next::after{
  transform: rotate(90deg) !important;
}

/* making main product image in productDetails rounded */
.iiz div{
  border-radius: 10px !important;
  overflow: hidden !important;
}
.iiz__img{
  border-radius: 10px !important;
  overflow: hidden !important;


}

/* review section */
.reviewsContainer::-webkit-scrollbar{
  width: 4px !important;
}
.reviewsContainer::-webkit-scrollbar-thumb{
  background-color: var(--tertiary) !important;

}

.productDetailsModal .MuiDialogContent-root{
  padding: 0px !important;
}



/* login form */
/* removes default eye icon from input */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}



/* cart drawer/panel */
.carPanel .MuiPaper-root{
  width:400px
}



 /* MUI menu component for size and quantity in cartPage,  forcing font size */
#size-menu .MuiButtonBase-root{
  font-size: 12px !important;
}


/* forcing black color on MUI inputs on focus */
.input-ele .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: rgb(97, 91, 91) !important;
}

.input-ele label.Mui-focused {
  color: gray !important;
}


/* adding width to header account menu */
#account-menu .MuiPaper-root{
  width:200px !important;
}

.overflow-x-auto::-webkit-scrollbar-thumb{
  background-color: #ccc;
}


.react-international-phone-input{
  width: 100% !important;

}


.react-international-phone-country-selector-button{
  width: 55px !important;
}
.react-international-phone-input-container{
  border:1px solid rgba(0, 0, 0, 0.1) !important;
}



.MuiPaper-root.MuiPaper-elevation{
  width: 400px;
}

.productDetailsModal .MuiDialog-paper{
  width: 1200px !important;
  max-width:1200px !important ;
}

header{
  box-shadow: 0px 1px 5px #0000001a;
}



.css-1q72ply-MuiButtonBase-root-MuiSwitchBase-root-MuiRadio-root{
  color: var(--primary) !important;
}